@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap");

:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --white-shadow: hsla(0, 0%, 100%, 0.65);
  --gold: hsl(42, 85%, 49%);
  --gold-2: hsl(42, 70%, 62%);
  --black: hsl(244, 89%, 4%);
  --black-2: hsla(243, 90%, 4%, 0.781);
  --grey: hsl(244, 16%, 39%);
  --light-grey: hsl(196, 20%, 71%);
  --dark-grey: hsl(208, 11%, 52%);

  /* Font sizes */
  --hero: clamp(2rem, 3vw, 3rem);
  --sub-heading: clamp(1.1rem, 1.5vw, 1.3rem);
  --sub-sub-heading: clamp(0.9rem, 1.2vw, 1.1rem);
  --blog-heading: clamp(1.3rem, 1.8vw, 1.5rem);

  /* Themeing */
  --foreground: var(--black);
  --accent: var(--gold);
  --accent-2: var(--gold-2);
  --accent-3: var(--red-3);
  --maxxed-out: 900px;
  --padded-out: clamp(2vw, 4vw, 4vw);

  /* Shadows */
  --norm-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --right-shadow: 0px 8px 0px rgba(0, 0, 0, 0.25);
  --lg-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

html,
body {
  background: var(--white);
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--foreground);
  text-decoration: none;
  /* scroll-behavior: smooth; */
  scroll-padding-top: 100px;
  line-height: 1.7;
}

p {
  line-height: 1.9;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: none;
  padding-left: var(--padded-out);
  padding-right: var(--padded-out);
  max-width: var(--maxxed-out);
  min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2vw;
}

.poem {
  column-width: 300px;
}

.poem p {
  padding: 0;
  margin: 0;
}
